<nav class="navbar navbar-light  navbar-purple-theme">
    <%= link_to root_url, class: "navbar-brand" do %>
    <%= image_tag("logo.png", size: "75x75", alt: "Logo", class: "d-inline-block align-top") %>
    <% end %>
</nav>